body {
    margin: 0px;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
}

span {
    color: orangered;
}

footer p {
    text-align: center;
}

.flex {
    display: flex;
}

#section1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#section2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#section3 div div {
    border-left: 7px solid;
    border-radius: 20px;
    border-image: linear-gradient(blue, skyblue);
    border-image-slice: 1;
    box-shadow: 20px 20px 40px gray;
    padding: 3%;
    margin: 6%;
}

#section3 h1 {
    margin-left: 4.5%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(red, orangered);
    padding: 15px;
    border-radius: 7px;
}

.half-width {
    width: 50%;
    margin: 1%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}